/* --------------------------------------------------------------------------
 * >>> Skeleton :
 * -------------------------------------------------------------------------- */
body {
  font-family: $mainFont;
  box-sizing: border-box;
}

.container{
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @include md-up {
    max-width: 720px;
  }
  @include lt-up {
    max-width: 100%;
  }
  @include ltm-up {
    max-width: 1180px;
  }
  @include ltl-up {
    max-width: 1320px;
  }
}