/* --------------------------------------------------------------------------
 * >>> Variables :
 * -------------------------------------------------------------------------- */
// Fonts
$mainFont: 'Poppins', sans-serif;

// Animations
$firstAnim: all 0.5s ease;
$secondAnim: all 1s ease;

// Colors
$white: #ffffff;
$black: #000000;
$pink: #fcd1c2;