/* --------------------------------------------------------------------------
 * >>> Variables :
 * -------------------------------------------------------------------------- */
// Fonts
$mainFont: 'Montserrat', sans-serif;
$secondFont: 'Cormorant', serif;

// Animations
$firstAnim: all 0.5s ease;
$secondAnim: all 1s ease;

// Colors
$white: #ffffff;
$black: #000000;

$yellow: #ffcc00;
$orange: #FBC400;
$orange-sec: #FFCB05;
$light-grey: #f5f5f5;
$grey:#c5c5c5;
$grey-sec: #646464;
$grey-third: #A0A0A0;
$grey-fourth: #484848;

$theme-color: $yellow;


$font1: 'Montserrat';
$anim1: all 0.5s ease;
