/* --------------------------------------------------------------------------
 * >>> Home Page :
 * -------------------------------------------------------------------------- */


.b-lazy {
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  max-width: 100%;
  opacity: 0;
}

.b-lazy.b-loaded {
  opacity: 1;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

h1 {
  font-weight: bold;
}

.screen-slide {
  position: relative;
  overflow: hidden;
}



.screen-slide-inner {
  height: 100%;
  padding: 40px;
  box-sizing: border-box;

  @include xs-up {
    padding: 60px 40px;
  }

  @include ms-up{
    padding: 65px 50px;
  }

  @include md-up {
    padding: 50px 70px;
  }

  @include lg-up {
    padding: 50px 140px;
  }

  @include xl-up {
    padding: 100px;
  }

  @include ltl-up {
    padding: 100px 200px;
  }
}

.screen-slide-title {
  font-style: normal;
  font-weight: 700;
  font-size: px(24px, 'xs');
  line-height: 110%; /* or 55px */
  color: #000000;

  @include md-up {
    padding-top: px(161px, 'md');
    padding-bottom: 11px;
    font-size: 50px;
  }

  @include lg-up {
    padding-top: px(151px, 'lg');
    padding-left: px(260px, 'lg');
    padding-bottom: 20px;
    font-size: 50px;
  }

  @include xl-up {
    padding-top: px(151px, 'xl');
    padding-left: px(350px, 'xl');
    padding-bottom: 20px;
    font-size: 50px;
  }
}

.screen-slide-exerpt {
  font-style: normal;
  font-weight: normal;
  font-size: px(16px, 'xs');
  line-height: 150%; /* or 24px */
  color: #000000;
}

.services-navigation {
  position: absolute;
  top: 450px;

  &:before {
    display: block;
    content: attr(data-index);
    position: absolute;
    top: -23px;
    left: -15px;
    transform: translateX(-100%);

    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 150%; /* or 75px */
    text-align: center;

    color: #FFCB05;

  }

  &[data-index="01"] {
    left: 18.22916666666667%;
  }

  &[data-index="02"] {
    left: 43.54166666666667%;
  }

  &[data-index="03"] {
    left: 69.0625%;
  }
}



/* --------------------------------------------------------------------------
 * >>> SITE BACKGROUND
 * -------------------------------------------------------------------------- */

.site-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* --------------------------------------------------------------------------
 * >>> PAGE : INTRO
 * -------------------------------------------------------------------------- */

#scroll-down {
  display: block;
}

#scroll-up {
  display: none;
  transition: all .5s ease;
}

#scroll-up p, #scroll-down p{
  display: block;
  transform: rotate(90deg);
}

#scroll-up p{
  margin-top: 10px;
}

#scroll-down p{
  margin-bottom: 25px;
}

.page-inner #scroll-up{
  display: block;
  opacity: 0;
}

.swiper-button-prev,
.swiper-button-next {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SCREEN Intro */
/* -------------------------------------------------------------------------- */


.intro .screen-slide-inner {
  background: $white;
  padding: 40px;

  @include ms-up{
    padding: 45px;
  }

  @include md-up{
    padding: 60px 75px;
  }

  @include lg-up{
    padding: 60px 150px;
  }
}

.home-intro-screen {
  padding-top: 165px;
  padding-left: 5px;
  height: 100%;
  border-radius: 25px;

  @include xs-up {
    padding-top: 165px;
    padding-left: 5px;
  }

  @include md-up {
    padding-top: 85px;
    padding-left: 0;
  }

  @include lg-up {
    padding-top: 35px;
    padding-left: 150px;
  }

  @include xl-up {
    padding-top: 180px;
    padding-left: 230px;
  }

  @include hd-up {
    padding-top: 160px;
    padding-left: 350px;
  }
}

.intro-slide-content{

  @include xl-up{
    padding-top: 75px;
    padding-left: 120px;
  }

  @include xl-up{
    padding-top: 202px;
    padding-left: 255px;
  }

  @include xxl-up{
    padding-left: 385px;
  }
}

.intro-title{
  line-height: 1.3;
  position: relative;
  z-index: 2;
  //padding-top: 95px;
  //

  @include md-up{
    padding-top: 120px;
  }

  @include ltm-up{
    padding-left: 100px;
  }

  @include lg-up{
      @include hd-up{
        padding-top: 170px;
      }
  }

  @include xl-up{
    padding-top: 0;
    padding-left: 0;
  }
}

.intro-title h1{
  max-width: 449px;
  font-size: 26px;
  //font-size: 35px;

  @include mm-up{
    font-size: 30px;

    @include hd-up{
      font-size: 35px;
    }
  }

  @include md-up{
    font-size: 55px;
  }

  @include lg-up{
    font-size: 64px;
  }

  @include xxl-up{
    font-size: 70px;
    max-width: 512px;
  }
}

.intro-title p{
  font-size: 18px;
  max-width: 333px;
  line-height: 130%;
  margin-top: 80px;

  @include mm-up{
    font-size: 19px;

    @include hd-up{
      font-size: 20px;
    }
  }

  @include md-up{
    margin-top: 150px;
    font-size: 25px;
  }

  @include lg-up{
    margin-top: 100px;
    font-size: 24px;
  }

  @include xxl-up{
    max-width: 395px;
    font-size: 30px;
  }
}

.intro-title .rotating-text{
  margin-top: 6px;

  @include md-up{
    margin-top: 10px;
  }
}

.intro-title h1>span{
  display: block;
  margin-top: 36px;

  @include md-up{
    margin-top: 60px;
  }
}

.word{
  color: $grey;
  position: absolute;
  opacity: 0;
  font-size: 26px;

  @include mm-up{
    font-size: 35px;
  }
  @include md-up{
    font-size: 64px;
  }
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}



/* SCREEN Cases */
/* -------------------------------------------------------------------------- */

.case-slide-content{
  @include md-up{

    &>div{
      max-width: 50%;
    }
  }

  @include ltl-up{
    padding-left: 100px;
  }

  @include xl-up{
    padding-left: 190px;
  }

  @include xxl-up{
    padding-left: 385px;
  }
}

.screen-slide-content {
  width: 100%;
  height: 100%;
  max-width: 1900px;
  margin: 0 auto;
  align-items: center;
}

.intro .screen-slide-content{
  position: relative;
  align-items: flex-start;
}

.screen-slide-content{
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include md-up{
    justify-content: left;
    flex-direction: row;
  }
}

.case-img-container{
  max-width: 280px;
  margin-bottom: 12px;

    @include hd-down{
      max-width: 230px;
    }

  @include lg-up{
    margin-right: 65px;
  }

  @include lt-up{
    margin-right: 80px;
  }

  @include ltl-up{
    margin-right: 120px;
  }

  @include xxl-up{
    margin-right: 235px;
  }
}

.slide-info{
  margin: 0 25px;
}

.slide-info h3{
  line-height: 100%;
  font-weight: 700;
  font-size: 26px;

  @include hd-up{
    font-size: 30px;
  }

  @include ltl-up{
    font-size: 60px;
  }

  @include xxl-up{
    font-size: 65px;
  }
}

.slide-info p{
  color: $grey-sec;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 350px;

  @include ml-up{
    font-size: 17px;
  }

  @include ltl-up{
    max-width: 313px;
    font-size: 18px;
    margin-top: 27px;
    margin-bottom: 40px;
  }

  @include xxl-up{
    font-size: 24px;
    min-width: 410px;
    max-width: 410px;
  }
}

.intro-caption {
  display: none;
  width: 100%;

  @include md-up{
    position: absolute;
    z-index: -1;
    top: 18.5%;
    left: 47.5%;
    width: 100%;
    max-width: 500px;
    display: block;
  }

  @include lg-up{
    left: 75.5%;
  }

  @include ltm-up{
    max-width: 590px;
  }

  @include ltl-up{
    max-width: 670px;
  }

  @include xl-up{
    left: 63.5%;
    top: -18.5%;
    min-width: 670px;
  }
}


.case-btn{
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  z-index: 2;
  transition: all .3s ease;

  span {
    z-index: 2;
    color: $black;
    cursor: pointer;
    font-size: 12px;
    transition: all 1s ease;
    padding: 0 3px;

    @include ml-up{
      font-size: 13px;
    }

    @include ltl-up{
      top: -3px;
    }

    @include xxl-up{
      font-size: 15px;
    }
  }

  &:before, &:after{
    z-index: -1;
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    width: 100%;
    background: $orange-sec;

    @include xxl-up{
      height: 3px;
    }
  }

  &:before{
    transition: all .5s ease-in-out;
    top: -7px;

    @include xxl-up{
      top: -6px;
    }
  }

  &:after{
    transition: all .5s ease-in-out;
    bottom: -7px;

    @include xxl-up{
      bottom: -10px;
    }
  }

  &:hover{
    color: transparent;
    z-index: 2;

    span {
      color: $white;
      cursor: pointer;
    }

    &:after{
      height: 100% ;
    }
    &:before{
      height: 100% ;
    }
  }

  &:active{
    &:after{
      background: #F5C200;
    }
    &:before{
      background: #F5C200;
    }
  }

  @include hd-up{
    font-size: 16px;
  }

  @include ltl-up{
    font-size: 14px;
  }

  @include xxl-up{
    font-size: 20px;
  }
}

.case-reverse{
  flex-direction: column;

  @include md-up{
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

/* SCREEN Portfolio */
/* -------------------------------------------------------------------------- */


.home-portfolio-title {
  max-width: 230px;
  min-height: 2.5rem;
  font-style: normal;

  color: #000000;
  margin-bottom: 20px;
}

.home-portfolio-section {
  width: 100%;
  width: 100vw;
  position: relative;
}

.home-portfolio-item-slider {
  position: relative;
}

.home-portfolio-item-image {
  width: 100%;
  display: block;
}

#home-portfolio-item-pagination {
  position: absolute;
  right: 20px;
  z-index: 10;
  bottom: 10px;

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid #FFCC00;
    margin-left: 8px;
    cursor: pointer;
  }

  .swiper-pagination-bullet-active {
    background-color: $theme-color;
  }
}


.home-portfolio-item-image-placeholder {
  display: block;
  width: 100%;
  height: auto;
}

.home-portfolio-logo-slider {
  max-width: 122px;
  height: 71px;
  margin-top: -17px;
  overflow: hidden;

  .swiper-container {
    height: 71px;
  }
}

.home-portfolio-item-link {
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
  cursor: pointer;

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover {

    .arrow {
      transform: translate(2px, -2px);
      transition: all .3s linear;
    }
  }

  .arrow {
    transition: all .3s linear;
  }
}

.home-portfolio-link-slider {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0px;
  left: 126px;

}


/* SCREEN Services */
/* -------------------------------------------------------------------------- */

.home-services-screen {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.home-services-inner {
  width: 100%;
  //padding-top: 80px;
  box-sizing: border-box;

  //@include xs-up {
  //  padding-top: 80px;
  //}

  @include xl-up {
    //padding-top: 150px;
    padding-left: 155px;
  }

  @include xxl-up{
    padding-left: 385px;
  }

  @include hd-up{
    padding-top: 130px;
  }

}


.home-services-title {
  max-width: 235px;
  //min-height: 3rem;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  // line-height: 110%;
  color: #000000;
  //padding-left: 65px;
  margin-bottom: 20px;

  @include ml-up{
    font-size: 30px;
  }

  @include md-up {
    padding-left: 30px;
    font-size: 50px;
    margin-bottom: 40px;
  }

  @include lg-up {
    font-size: 60px;
    padding: 0 0;
    margin-bottom: 40px;
  }

  @include xl-up {
    max-width: 440px;
    margin-bottom: 60px;
  }

  @include xxl-up{
    font-size: 65px;
    margin-bottom: 100px;
  }
}

.home-services-slider {
  width: 100%;
  position: relative;
  //padding: 0 25px 0 65px;
  box-sizing: border-box;

  @include md-up {
    padding: 0 65px;
  }

  @include lg-up {
    max-width: 1200px;
    padding: 0 0;
  }

}

#home-services-slider-prev,
#home-services-slider-next {
  position: absolute;
  top: 35%;
  z-index: 10;
  transform: translateY(-50%);
  cursor: pointer;

  @include md-up {
    top: 30%;
  }

  @include ltm-up {
    display: none;
  }
}

#home-services-slider-prev {
  left: -30px;

  @include md-up {
    left: -8px;
  }
}

#home-services-slider-next {
  right: -30px;

  @include md-up {
    right: -8px;
  }
}

#home-services-slider-pagination {
  min-width: 100px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 20px);
  bottom: -30px;
  z-index: 10;

  @include ltm-up {
    display: none;
    left: 66px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid $theme-color;
    margin-right: 15px;
  }

  .swiper-pagination-bullet-active {
    background-color: $theme-color;
  }
}

.services-item {
  position: relative;
  transition: all .5s ease;
}

.services-item:hover{

  @include ltl-up{
    .services-title{
      color: $orange;
    }

    .services-title:before{
      opacity: 0;
    }

    .services-link{
      font-weight: 400;
    }

    .services-list:before, .services-list:after{
      opacity: 1;
    }

    .services-list:before{
      left: 0;
    }

    .services-list:after{
      right: 20px;

      @include xl-up{
        right: 30px;
      }

      @include xxl-up{
        right: 10px;
      }
    }
  }
}

.services-title {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
  position: relative;
  transition: all .5s ease;
  text-align: left;

  a{
    cursor: pointer;
    transition: $firstAnim;
  }

  a:hover{
    color: $orange;
  }

  &:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -40px;
    height: 30px;
    width: 2px;
    transition: all .5s ease;
    background: $orange;
    opacity: 1;

    @include ml-up{
      left: 50%;
    }

    @include md-up{
      bottom: -60px;
      left: 30px;
      height: 50px;
      font-size: 25px;
    }
  }

  @include ml-up{
    text-align: center;
    font-size: 25px;
  }

  @include md-up {
    text-align: left;
    padding: 0 20px;
    font-size: 35px;
    line-height: 60px;
    margin-bottom: 5px;
  }

  @include lg-up{
    padding: 0 30px;
    font-size: 40px;
  }

  @include lt-up{
    font-size: 30px;
  }

  @include xxl-up{
    font-size: 32px;
  }

}


.services-list{
  padding: 0 5px;
  padding-top: 60px;
  position: relative;

  &:before, &:after{
    content: '';
    position: absolute;
    background: $orange;
    width: 3px;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .5s ease;
  }

  &:before {
    left: 50%;
  }

  &:after {
    right: 50%;
  }

  @include ml-up{
    text-align: center;
  }

  @include md-up{
    padding: 80px 30px;
    text-align: left;
  }

  @include lg-up{
    padding-top: 80px;
  }

}

.services-list-item{

  a{
    cursor: pointer;
    transition: $firstAnim;
  }

  a:hover{
    color: $orange;
  }

  @include lg-up{
    &:not(:last-of-type){
      margin-bottom: 10px;
    }
  }

  @include xxl-up{
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.services-link {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  color: #000000;
  cursor: pointer;
  text-decoration: none;


  @include ml-up{
    font-size: 17px;
  }

  @include md-up {
    font-size: 18px;
    font-size: 25px;
    line-height: 37px;
  }

  @include lg-up {
    font-size: 18px;
    line-height: 27px;
  }
}


/* SCREEN Contacts */
/* -------------------------------------------------------------------------- */

.fp-viewing-contacts {

  #scroll-down {
    display: none;
  }

  #scroll-up {
    display: block;
  }
}

.home-contacts-screen-title {
  display: none;

  @include lg-up {
    display: block;
  }
}

.contacts-info-slide {
  min-width: 50%;
  height: 100vh;
  position: relative;
  display: none;

  @include md-up{
    display: block;
  }

  .screen-slide-content {

    @include lg-up {
      height: calc(100vh - 100px);
      position: relative;
    }

  }

  &:before {
    width: 32.22222%;
    height: 100vh;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: $theme-color;

    @include lg-up {
      width: 14%;
    }
  }
}

.home-contact-form-exerpt{
  display: none;
  font-size: 13px;
  font-weight: 300;

  @include md-up{
    display: block;
  }

  @include xxl-up{
    font-size: 18px;
  }
}

.contacts-body{
  height: 100%;
  display: flex;
  align-items: center;
}

.contacts-form-slide {
  height: 100%;
  width: 100%;
  background-color: $theme-color;

  @include lg-up {
    .screen-slide-inner {
      padding: 62px 0 0 80px;
    }
  }
}

.home-contact-info {
  //padding-top: 116px;
  position: relative;
  z-index: 10;

  @include md-up {
    //padding-top: 175px;
  }

  @include lg-up {
    height: 100%;
    padding-top: 105px;
  }

  @include xl-up {
    padding-top: 125px;
  }

  @include xxl-up {
    padding-top: 110px;
  }

  &-caption {
    font-style: normal;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 110%; /* or 55px */
    color: #000000;
    font-size: 24px;

    span{
      font-weight: 300;
      display: block;
      font-size: 20px;
      margin-top: 20px;

      @include md-up{
        font-size: 36px;
      }
    }

    @include mm-up{
      font-size: 31px;
      margin-bottom: 20px;
    }

    @include sm-up{
      font-size: 30px;
    }

    @include md-up {
      font-size: 40px;
      line-height: 110%; /* identical to box height, or 66px */
      margin-bottom: 60px;
    }

    @include lg-up {
      font-size: 47px;
      margin-right: -75px;
    }

    @include xxl-up{
      font-size: 60px;
    }
  }
}

.home-contact-info-caption.dup{

  @include md-up{
    display: none;
  }
}


.home-contact-list {
  max-width: 220px;


  @include ms-up{
    max-width: 240px;
  }

  @include mm-up{
    max-width: 100%;
  }


  
  @include lg-up {
    bottom: 110px;

  }
}

#fullpage .home-contact-list{
  @include lg-up{
    bottom: 95px;
    left: 0;
  }

  @include ltm-up{
    left: 65px;
  }
}

.home-contact-item {
  margin-bottom: 10px;
  font-size: 18px;

  &:last-child {
    margin-bottom: 0;
  }
}

.home-contact-form {
  position: relative;

  @include xs-up {
    padding-top: 30px;
  }

  @include ms-up{
    padding-top: 20px;
  }

  @include md-up {
    padding: 146px 0;
    background-color: transparent;
  }

  @include lg-up {
    padding: 140px 0;
    padding-top: 200px;
  }

  @include xxl-up{
    padding-top: 320px;
  }

}

.home-contact-form input, .home-contact-form textarea{
  font-size: 13px;

  @include lg-up{
    font-size: 12px;
  }

  @include xxl-up{
    font-size: 15px;
  }
}

.home-contact-form-legend {

  @include md-up {
    width: 100%;
    margin-bottom: 30px;
  }

  @include lg-up {
    margin-bottom: 45px;
  }
}

.home-contact-form-caption {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%; /* or 45px */
  color: #000000;
  margin-bottom: 6px;

  @include ms-up{
    font-size: 16px;
  }

  @include hd-up{
    font-size: 17px;
    margin-top: 10px;
  }

  @include md-up {
    font-size: 27px;
    margin-bottom: 0;
  }

  @include lg-up {
    font-size: 30px;
    line-height: 136%; /* 150% or 60px */
  }

  @include xxl-up{
    font-size: 34px;
  }
}

.home-contact-form-legend .home-contact-form-caption:last-child{
  @include md-up{
    display: none;
  }
}

.home-contact-form-inner {

  @include md-up {
    max-width: 525px;
  }

  @include lg-up {
    width: 360px;
    box-sizing: border-box;
  }
}

.form-wrap{
  margin-top: 15px;
  max-width: 400px;

  @include md-up{
    margin-top: 0;
  }
}

.form-wrap input:not([type='submit']), .form-wrap textarea{
  width: 100%;
  background: transparent;
  border-bottom: 1px solid $black;
  padding: 5px 0 7px 0;
  color: $black;
}

.form-wrap input::placeholder, .form-wrap textarea::placeholder{
  color: $black;
}

.form-wrap input:not(:first-child){
  margin-top: 5px;

  @include md-up{
    margin-top: 25px;
  }
}

.form-wrap textarea{
  resize: none;
  margin-bottom: 10px;

  @include md-up{
    margin-bottom: 20px;
    padding-bottom: 0;
  }
}

.form-wrap input[type="checkbox"] {
  height: 13px;
  width: 13px;
  display: none;
}

.form-item-label {
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    margin-bottom: 23px;
    line-height: 150%; /* or 15px */

    color: #000000;
    padding-left: 25px;
    position: relative;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @include md-up {
      font-size: 15px;
      line-height: 22px;
      padding-left: 35px;
    }

    @include lg-up {
      font-size: 10px;
      line-height: 150%; /* or 15px */
      padding-left: 20px;
    }

    @include xxl-up{
      font-size: 12px;
    }

    &:before {
      width: 15px;
      height: 15px;
      display: block;
      content: '';

      position: absolute;
      top: 2px;
      left: 5px;
      border: 1px solid #000000;

      @include md-up {
        width: 15px;
        height: 15px;
        top: 5px;
      }

      @include lg-up {
        width: 11px;
        height: 11px;
        top: 1px;
        left: 0;
      }
    }

    &:after {
      width: 15px;
      height: 15px;
      display: block;
      content: '';
      background-color: #000000;

      position: absolute;
      top: 2px;
      left: 5px;
      border: 1px solid #000000;
      opacity: 0;

      @include md-up {
        width: 15px;
        height: 15px;
        top: 5px;
      }

      @include lg-up {
        width: 11px;
        height: 11px;
        top: 1px;
        left: 0;
      }
    }
}

.form-wrap{
  input:checked ~ .form-item-label:after {
    opacity: 1;
  }
}

.form-btn[type='submit']{
  margin-top: 10px;
  padding: 8px 30px;
  font-size: 12px;
  text-transform: uppercase;
  transition: $firstAnim;
  background: $white;

  &:hover{
    background: $black;
    color: $white;
  }

  @include mm-up{
    margin-top: 20px;

  }

  @include md-up{
    padding: 10px 64px;
    font-size: 14px;
  }

  @include xxl-up{
    font-size: 16px;
  }
}

.form-wrap input.form-error{
  border-bottom: 1px solid red;
  color: red;

  &::placeholder{
    color: red;
  }
}

.form-notification{
  display: block;
  margin-top: 15px;
  font-size: 14px;
}

.form-wrap > label:not(:first-of-type){
  display: block;
  margin-top: 15px;

  @include xxl-up{
    font-size: 20px;
  }
}

.contacts-slide{
  padding: 50px 25px;
  height: 100vh;

  @include md-up{
    padding: 50px 40px;
  }

  @include lg-up{
    padding: 100px 130px;
  }

  @include ltl-up{
    padding: 100px 200px;
    padding-right: 50px;
  }

}