/* --------------------------------------------------------------------------
 * >>> Header Block:
 * -------------------------------------------------------------------------- */

.site-header {
  position: fixed;
  z-index: 100;
  width: 100%;
}

/* SITE Headings : Logo */
/* -------------------------------------------------------------------------- */

.header-titles {
  position: absolute;
  top: 35px;
  left: 30px;

  @include md-up {
    top: 50px;
    left: 50px;
  }

  @include lg-up {
    top: 50px;
    left: 100px;
  }

  @include xl-up {
    top: 100px;
    left: 100px;
  }

  //@include hd-up {
  //  top: 100px;
  //  left: 200px;
  //}
}

.site-logo {

  svg {
    width: 86px;
    height: 22px;
    cursor: pointer;

    @include mm-up{

      @include hd-up{
        width: 100px;
        height: 30px;
      }
    }

    @include md-up {
      width: 148px;
      height: 38px;
    }
  }
}

.site-logo-link {
  display: block;


  @at-root .fp-viewing-contacts & svg {

    path[clip-rule="evenodd"] {
      fill: #000000;

      @include lg-up {
        fill: $theme-color;
      }
    }
  }
}

/* SITE NAVIGATION : Top menu */
/* -------------------------------------------------------------------------- */

.site-menu {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  li {
    position: relative;
    margin-bottom: 15px;

    @include md-up{
      margin-bottom: 30px;
    }

    @include ltl-up{
      margin-bottom: 40px;
    }
  }

  a {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 55px;
    color: #000000;
    cursor: pointer;
    transition: .5s;

    @include mm-up{
      @include hd-up{
        font-size: 50px;
      }
    }

    @include md-up{
      font-size: 62px;
    }

    @include lg-up{
      font-size: 50px;

    }

    @include ltl-up{
      font-size: 95px;
    }


    &:hover {
      color: #ffffff;
    }

  }
}
.site-menu-open.page-inner main{
  display: none;
}

.site-menu-open {
  background-color: $theme-color;

  .header-titles,
  .social-menu,
  .scroll-down,
  .lang-menu {
    display: none;
  }

  .menu-toggle-button:after {
    width: 0;
    opacity: 0;
  }

  .menu-toggle-button:before{
    width: 120%;
    transform: rotate(-33deg);
    transform-origin: left;
  }
}



/* SITE HEADER : Hamurger */
/* -------------------------------------------------------------------------- */

.menu-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;


  @include md-up {
    top: 50px;
    right: 50px;
  }

  @include lg-up {
    top: 50px;
    right: 100px;
  }

  @include xl-up {
    top: 100px;
    right: 100px;
  }
}

.menu-toggle-text {
  font-style: normal;
  line-height: 100%;
  font-size: 12px;
  color: #000000;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 500;


  margin-bottom: 6px;
  display: flex;
  align-items: center;

  @include md-up{
    font-weight: 600;
  }

  @include xxl-up{
    font-size: 17px;
  }

}

.menu-toggle-button {
  width: 35px;
  height: 35px;
  padding: 0;
  border: 0;
  background-color: transparent;
  position: relative;
  transition: all .3s;

  @include md-up {
    width: 40px;
    height: 10px;
  }

  @include xxl-up{
    width: 50px;
  }

  &:before {
    width: 100%;
    height: 1px;

    display: block;
    content: '';
    background-color: #000000;

    position: absolute;
    top: 0;
    left: 0;

    transition: .3s;

  }

  &:after {
    width: 100%;
    height: 1px;

    display: block;
    content: '';
    background-color: #000000;

    position: absolute;
    top: 10px;
    left: 0;
    opacity: 1;
    transition: all .2s;
  }

  &:hover {
    transform-origin: center;
  }
}

/* --------------------------------------------------------------------------
 * >>> SITE HEADER
 * -------------------------------------------------------------------------- */

/* SITE SOCIAL : Social Menu */
/* -------------------------------------------------------------------------- */

.social-menu {
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;

  position: fixed;
  bottom: 50px;
  left: 20px;
  overflow: hidden;

  @include ms-up{
    left: 20px;
  }

  @include md-up {
    bottom: 50px;
    left: 15px;
    display: flex;
  }

  @include lg-up {
    bottom: 50px;
    left: 100px;
  }

  @include xl-up {
    bottom: 100px;
    left: 100px;
  }

}

.social-menu-link {
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  text-decoration: none;
  color: $black;
  cursor: pointer;
  margin: 10px 0 0 0;
  animation-duration: 500ms;

  svg {
    transition: all .3s ease-in-out;
  }
  &:hover {
    svg{
      fill: $orange;
    }
  }

  @include sm-up {
    font-size: 12px;
    line-height: 28px;
  }

  @include md-up {
    font-weight: 300;
    font-size: 20px;

    margin: 15px 0 0 0;
  }
}


/* SITE Multilanguage : Lang Menu */
/* -------------------------------------------------------------------------- */

.lang-menu {
  z-index: 100;
  position: fixed;
  right: 30px;
  bottom: 50px;
  transform: translate(10px, 10px);

  @include md-up {
    right: 50px;
    bottom: 50px;
  }

  @include lg-up {
    right: 100px;
    bottom: 50px;
  }

  @include xl-up {
    right: 100px;
    bottom: 80px;
  }

  //@include hd-up {
  //  right: 200px;
  //  bottom: 100px;
  //}
}

.lang-toggle {
  background: 0;
  border: 0;

  input {
    display: none;
  }
}

.lang-menu-item {
  width: 20px;
  height: 15px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @include md-up {
    width: 39px;
    height: 30px;
  }

  &:nth-child(2) {
    display: none;
    opacity: 0;
    position: absolute;
  }

  &:nth-child(3) {
    display: none;
    position: absolute;
  }
}

.lang-toggle,
.lang-menu-link {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%; /* or 13px */
  text-transform: uppercase;
  color: #000000;

  @include mm-up{
    font-weight: 500;
    font-size: 14px;
  }

  &:hover {
    color: $orange;
    cursor: pointer;
  }
}

.fp-viewing-contacts{
  .lang-toggle,
  .lang-menu-link {

    &:hover {
      color: $white;
      cursor: pointer;
    }
  }
}

@keyframes animation-scroll-arrow {
  0% {
    -webkit-transform: translate3d(105vw,0,0);
    transform: translate3d(105vw,0,0);
    visibility: visible;
    opacity: 0;
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.animation-scroll-arrow {
  -webkit-animation-name: animation-scroll-arrow;
  animation-name: animation-scroll-arrow;
}

@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 3rem);
  }
  100% {
    transform: translate(0, 0);
  }
}

.scroll-down {
  animation-delay: 1s;
  animation: scroll-jumping 2s infinite linear;
}

.scroll-down {
  width: 11px;
  position: fixed;
  bottom: 125px;
  right: 30px;
  z-index: 1;

  @include mm-up{
    width: 13px;
  }

  @include md-up {
    width: 18px;
    right: 50px;
    bottom: 200px;
  }

  @include lg-up {
    right: 100px;
    bottom: 135px;
  }

  @include xl-up {
    right: 100px;
    // bottom: 425px;
    bottom: 200px;
  }

  //@include hd-up {
  //  right: 200px;
  //  bottom: 230px;
  //}

  &:hover {
    cursor: pointer;
  }

  &.infinite-animated {
    animation: scroll 3s ease infinite;
  }

  svg {
    display: block;
    width: 100%;
    height: auto;
  }
}

.screen-preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  &.hidden {
    animation: screen-preloader 1s linear;
  }
}

@keyframes screen-preloader {

  from {
    top: 0;
    opacity: 1;
  }

  to {
    top: 100%;
    opacity: 0;
  }
}

.screen-preloader-logo {
  height: auto;
  display: flex;

  @include lg-up {
    transform: scale(1.5);
  }
}

#screen-preloader-logo {
  width: 38px;
  height: 38px;
  //background-image: url('../images/logo-bg.svg');
  background-size: cover;
  background-position: 0% 0px;
  // background-repeat: repeat;

  animation: slidein 1.5s linear infinite;
}

@keyframes slidein {

  from {
    background-position: center 0px;
  }

  to {
    background-position: center -38px;
  }
}
