//---------------------------------------------------------------------------
  >>> Footer Block :
  ---------------------------------------------------------------------------

footer#site-footer.site-footer
  .container
    .footer__bg-image
    .footer__main-content
      a.footer-logo-link(href="/" rel='home')
        img.footer-logo-image(src="/images/site-logo.svg" alt="logo")
      nav
        ul.footer-menu(aria-label='site navigation')
          li
            a(href='/') Home page
          li
            a(href='/') About coffeeface
          li
            a(href='/') Coffeeface the Community
          li
            a(href='/') Privacy Policy
          li
            a(href='/') Shipping-Terms
          li
            a(href='/') Contact Us
      .socila-links
        a.link-item
          img(src="/images/icons/facebook.svg" alt="facebook")
        a.link-item
          img(src="/images/icons/twitter.svg" alt="twitter")
        a.link-item
          img(src="/images/icons/instagram.svg" alt="instagram")
    .payment-methods
        a.method-item
          img(src="/images/icons/Amex.svg" alt="payment")
        a.method-item
          img(src="/images/icons/DinersClub.svg" alt="payment")
        a.method-item
          img(src="/images/icons/Discover.svg" alt="payment")
        a.method-item
          img(src="/images/icons/JCB.svg" alt="payment")
        a.method-item
          img(src="/images/icons/Mastercard.svg" alt="payment")
        a.method-item
          img(src="/images/icons/visa.svg" alt="payment")

    .footer__copyright
      p
        | © 2021, Coffeeface
      p
        | Test work by Yaroslav Mitiuk
