//---------------------------------------------------------------------------
  >>> Header Block :
  ---------------------------------------------------------------------------

header#site-header.site-header(role='banner')
    p.shiping-info
        | Free shipping over $100
    .container
        input.menu-toggle-input#menu-toggle(type="checkbox")        
        label.menu-toggle.menu-toggle-btn(for="menu-toggle")
        a.header-logo-link(href='/' rel='home')
            img.header-logo-image(src="/images/site-logo.svg" alt="logo")
        
        ul#site-menu.site-menu.header-menu(aria-label='site navigation')
            li
                a(href='/') Home
            li
                a(href='/') Shop
            li
                a(href='/') About
            li
                a(href='/') What is Coffeeface
            li
                a(href='/') Contact
        .cart-btn
            img.cart-icon(src="/images/icons/cart.svg" alt="cart-button")
            span.cart-counter