//---------------------------------------------------------------------------
  >>> Header Block :
  ---------------------------------------------------------------------------

header#site-header.site-header(role='banner')
    .menu-toggle.wow.animation-menu-toggle
        button.menu-toggle-button
    .header-titles.wow.animation-header-titles
        .site-logo
            a.site-logo-link(href='/' rel='home')

    ul#site-menu.site-menu(aria-label='навигация по сайту')
        li
            a(href='/') about